@import "./buttons.css";
@import "./info.css";
@import 'container2.css';
@import 'container3.css';
@import './projects.css';

* body {
  margin: 0;
  border: 0;
}

* {
  box-sizing: border-box;
}

.fab {
  color: black;
}

#linkedin {
  color:black;
}

:root {
  --light-yellow: #feffef;
  --light-brown: #ffc883;
  --black: #000000;
}



h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 48px;
  /* font-style: italic; */
  color: var(--black);
  margin: 0px;
  text-align: center;
}

h2 {
  font-family: "Merriweather", serif;
  font-size: 36px;
  /* font-style: italic; */
  margin: 0px 0px;
  color: var(--black);
}

h3 {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-style: italic;
  color: var(--light-brown);
  margin: 0px;
}

.title-main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 10%;
  font-size: 58px;
  font-family: "Montserrat", sans-serif;
  padding: 2rem 0;
}


@media only screen and (max-width: 800px) {
  .title-main {
    font-size: 32px;
    padding-top: 1rem;
  }
}







/* @media only screen and (max-width: 1200px) and (min-width: 700px) {
  h1 {
    font-size: 52px;
    color: #304857;
    text-align: center;
    padding: 0;
    margin: 5px;
  }

  h2 {
    font-size: 42px;
    color: #304857;
    text-align: center;
    padding: 0;
    margin: 5px;
  }

  h3 {
    font-size: 32px;
    color: #304857;
    text-align: center;
    padding: 0;
    margin: 5px;
  }

  .container {
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  #info {
    width: 90%;
    height: 50%;
    display: flex;
    flex-direction: column;
    color: white;
  }
} */
