

#home {
  /* background-image: url(../pics/landing_page_smaller_res.jpg); */
  /* background-position: center;
  background-size: cover; */
  background-color: #F7EE09;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}


.info {
  width: 35%;
  height: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}



.line {
  width: 100%;
  height: 5px;
  border-width: 0;
  background-color: var(--black);
  color: var(--black);
  margin: 0;
}

/* .job {
  height: auto;
} */

.links-home {
  width: 100%;
  height: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}




.nav-box {
  height: 50px;
  width: 8rem;
  display: flex;
  justify-content: space-evenly;
  padding: 0.5rem;
  align-items: center;
}




.copyright {
  width: 40%;
  display: flex;
  justify-content: flex-end;
  padding: 0px 20px;
  color: black;
  font-family: "Roboto", sans-serif;
  font-size: 10px;
}

@media only screen and (max-width: 1200px) and (min-width: 700px) {
  .info {
    width: 80%;
    height: 50vh;
  }
}



@media only screen and (max-width: 700px) {
  .name h1 {
    font-size: 30px;
    color: #304857;
    padding: 0;
    margin: 5px;
  }

  .job h2 {
    font-size: 18px;
    color: #304857;
    padding: 0;
    margin: 5px 0 10px 0;
  }

  #home {
    height: 70vh;    
  }

  .info {
    width: 85%;
    height: 50vh;
  }

 .links-home {
    height: auto;
    margin-top: 2rem;
  }

  .nav-box {
    height: 50px;
    width: 5rem;
    justify-content: space-between;
    padding: 10px 20px 0px 0px;
    align-items: center;
    order: 2;
  }

  .fa-2x {
    font-size: 1.5rem;
  }

 
 

  .copyright {
    display: none;
  }
}