

.skills-container {
  width: 100vw;
  height: auto;
  background: #00bb7c;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}



#skills {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 10%;
  font-size: 40px;
  font-family: "Montserrat", sans-serif;
}


.skills-wrapper {
  width: 85vw;  
  display: flex;
  flex-direction: column;
  align-items: center; 
  /* background: linear-gradient(to right, #fff7ef, #ffffff); */
}



.skills-heading h2 {
  margin: 5px;
  text-align: center;
  color: #003705;
  padding: 10px 0px;
  font-size: 32px;
  font-family: "Merriweather", serif;
}

.skill-container p {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  margin: 5px 5px 0px 10px;
  font-weight: bold;
  line-height: 1.5;
}

.skill-container ul {
  margin: 0px 20px 0px 0px;
}

.skill-container li {
  margin: 0 6px;
  font-family: "Roboto", sans-serif;
  line-height: 1.25;
}



.title {
  width: 95%;
  height: 10%;
  font-family: "Merriweather", serif;
  padding: 0px 0px 0px 10px;
  font-style: italic;
  color: #128756;
}

.skill {
  width: 95%;
  height: 80%;
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 2rem;
}


/* next three divs are within skill */

.skill-container {
  width: 35%;
  height: 100%;  
  display: flex;
  flex-direction: column;
  /* border: 3px solid black; */
  border-radius: 25px;
  font-family: "Montserrat", sans-serif;
  color: white;
}



.skills-heading {
  width: 100%;  
  height: auto;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.skill-resume-container {
  width: 20%;
  height: 10%;  
  display: flex;
  flex-direction: column;
  /* border: 3px solid black;
  border-radius: 25px; */
  font-family: "Montserrat", sans-serif;
  color: white;
  align-items: center;
  align-self: center;
  text-align: center;
}

.skill-resume-container img {
  width: 70%;
}




.resume {
  width: 100%;
  color: var(--black);
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-style: italic;
  font-size: 15px;
  text-decoration: none;
  padding: 25px 0px;
  transition: 0.3s;
 

}

.resume:hover {
  background: var(--black);
  color: yellow;
  font-size: 15px;
  border-radius: 50px;
  padding: 25px 0px;
  text-decoration: none;
}

@media only screen and (max-width: 1000px) {
  /* #skills {
    height: 5%;
  } */

  .skills-wrapper {
    width: 100%;
  }

  .skill {
    flex-direction: column;
    width: 100%;   
    padding: 0 1rem;
  }

  .skill-container {
    width: 100%;
    /* justify-content: start; */
    margin-bottom: 1rem;
  }

  .skill-resume-container {
    width: 90%;
  }

  .skills-heading h2 {
    font-size: 24px;
  }

  .project-text h3 {
    font-size: 18px;
  }

  .skill-container p,
  .skill-container li {
    font-size: 12px;
  }

  .skill-resume-container img {
    width: 40%;
  }

}